.AdminPageContainer {
  display: grid;
  align-items: start;
  grid-template-columns: 20rem auto;

  .sidebar {
    height: 100vh;
    padding: 2rem;
  }

  main {
    height: 100vh;
    overflow: scroll;
    padding: 2rem;

    .DonationsList {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }

  @media (width <= 1000px) {
    grid-template-columns: 1fr;

    .sidebar {
      z-index: 10;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: fit-content;
    }

    main {
      // padding-top: 18rem;
      padding: 18rem 10px 1rem 10px;
      .DonationsList {
        grid-template-columns: 1fr 1fr;
        overflow-y: auto;
      }
    }
  }

  @media (width <= 700px) {
    main {
      padding-top: 20rem;
      .DonationsList {
        grid-template-columns: 1fr;
      }
    }

    .sidebar {
      flex-direction: column;
      // #sidebarComponent {
      //   flex-direction: column;
      //   ul {
      //     width: 100%;
      //   }
      // }
    }
  }
}
