:root {
  --dark: #212121;
}

.clientPage {
  display: flex;
  align-items: start;

  .sidebar {
    padding: 2rem;
    background: var(--dark);
    height: 100vh;

    .userInfo {
      text-align: center;
      color: #fff;
      h1 {
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }

  main {
    flex: 3;
    padding: 2rem;
    height: 100vh;
    overflow-y: scroll;

    h1 {
      font-size: 2rem;
      font-weight: 800;

      span {
        font-size: 3rem;
      }
    }
  }

  @media screen and (width <= 900px) {
    main {
      // padding-top: 5rem;
      position: relative;

      h2 {
        margin-top: 5rem;
      }

      .top {
        height: 6rem;
        position: fixed;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        top: -3rem;
        right: 0;
        background: var(--dark);
        width: 100%;
        z-index: 1;

        #link {
          height: 100%;
          // background: red;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.modal {
  transition: 0.3s ease;
  &.closed {
    top: -100%;
  }
  &.opened {
    top: 50%;
  }

  .closebtn {
    font-size: 5rem;
    font-weight: 800;
    color: white;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}
