<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JENIGH Foundation - Save Lives By Donating</title>

    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <article>
        <!-- HEADER -->

        <header class="header" data-header>
          <div class="container">
            <h1>
              <a href="#" class="logo"> JENIGH </a>
            </h1>

            <select name="language" class="lang-switch">
              <option value="english">English</option>
              <option value="french">French</option>
              <option value="spanish">Spanish</option>
            </select>

            <button
              class="nav-open-btn"
              aria-label="Open Menu"
              data-nav-open-btn
            >
              <ion-icon name="menu-outline"></ion-icon>
            </button>

            <nav class="navbar" data-navbar>
              <button
                class="nav-close-btn"
                aria-label="Close Menu"
                data-nav-close-btn
              >
                <ion-icon name="close-outline"></ion-icon>
              </button>

              <a href="#" class="logo"> Wildvine </a>

              <ul class="navbar-list">
                <li>
                  <a href="#home" class="navbar-link" data-nav-link>
                    <span>Home</span>

                    <ion-icon
                      name="chevron-forward-outline"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#about" class="navbar-link" data-nav-link>
                    <span>About</span>

                    <ion-icon
                      name="chevron-forward-outline"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#donate" class="navbar-link" data-nav-link>
                    <span>Donations</span>

                    <ion-icon
                      name="chevron-forward-outline"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </li>

                <li>
                  <a href="#contact" class="navbar-link" data-nav-link>
                    <span>Contact</span>

                    <ion-icon
                      name="chevron-forward-outline"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </li>
              </ul>
            </nav>

            <div class="header-action">
              <button class="search-btn" aria-label="Search">
                <ion-icon name="search-outline"></ion-icon>
              </button>

              <a href="/signin">
                <button class="btn btn-primary">
                  <span>Sign in</span>

                  <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                </button>
              </a>
            </div>
          </div>
        </header>

        <!-- 
        - #HERO
      -->

        <section class="hero" id="home">
          <div class="container">
            <p class="section-subtitle">
              <img
                src="./images/subtitle-img-white.png"
                width="32"
                height="7"
                alt="Wavy line"
              />

              <span>Welcome to JENIGH Foundation</span>
            </p>

            <h2 class="h1 hero-title">
              Donate To Help The Less Fortunate Around The World.
            </h2>

            <p class="hero-text">
              Sit amet consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua suspendisse ultrices
              gravida.
            </p>

            <button class="btn btn-primary">
              <span>Make Donation</span>

              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>
        </section>

        <!-- 
        - #FEATURES
      -->

        <section class="section features">
          <div class="container">
            <ul class="features-list">
              <li class="features-item">
                <div class="item-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <div>
                  <h3 class="h4 item-title">Safe Shelter</h3>

                  <p class="item-text">
                    Sit amet consecte adiscine eiusm temor ultrices.
                  </p>
                </div>
              </li>

              <li class="features-item">
                <div class="item-icon">
                  <ion-icon name="water-outline"></ion-icon>
                </div>

                <div>
                  <h3 class="h4 item-title">Safe Water</h3>

                  <p class="item-text">
                    Sit amet consecte adiscine eiusm temor ultrices.
                  </p>
                </div>
              </li>

              <li class="features-item">
                <div class="item-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <div>
                  <h3 class="h4 item-title">Ecology Save</h3>

                  <p class="item-text">
                    Sit amet consecte adiscine eiusm temor ultrices.
                  </p>
                </div>
              </li>

              <li class="features-item">
                <div class="item-icon">
                  <ion-icon name="snow-outline"></ion-icon>
                </div>

                <div>
                  <h3 class="h4 item-title">Environment</h3>

                  <p class="item-text">
                    Sit amet consecte adiscine eiusm temor ultrices.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- 
        - #ABOUT
      -->

        <section class="section about" id="about">
          <div class="container">
            <div class="about-banner">
              <h2 class="deco-title">About Us</h2>

              <img
                src="./images/deco-img.png"
                width="58"
                height="261"
                alt=""
                class="deco-img"
              />

              <div class="banner-row">
                <div class="banner-col">
                  <img
                    src="./images/about-img-1.jpg"
                    width="315"
                    height="380"
                    loading="lazy"
                    alt="Tiger"
                    class="about-img w-100"
                  />

                  <img
                    src="./images/about-img-2.jpg"
                    width="386"
                    height="250"
                    loading="lazy"
                    alt="Panda"
                    class="about-img about-img-2 w-100"
                  />
                </div>

                <div class="banner-col">
                  <img
                    src="./images/about-img-3.jpg"
                    width="250"
                    height="277"
                    loading="lazy"
                    alt="Elephant"
                    class="about-img about-img-3 w-100"
                  />

                  <img
                    src="./images/about-img-4.jpg"
                    width="315"
                    height="380"
                    loading="lazy"
                    alt="Deer"
                    class="about-img w-100"
                  />
                </div>
              </div>
            </div>

            <div class="about-content">
              <p class="section-subtitle">
                <img
                  src="./images/subtitle-img-green.png"
                  width="32"
                  height="7"
                  alt="Wavy line"
                />

                <span>Why Choose Us</span>
              </p>

              <h2 class="h2 section-title">
                Rise Your Hand to Save <strong>World Animals Life</strong>
              </h2>

              <ul class="tab-nav">
                <li>
                  <button class="tab-btn active">Our Mission</button>
                </li>

                <li>
                  <button class="tab-btn">Our Vision</button>
                </li>

                <li>
                  <button class="tab-btn">Next Plan</button>
                </li>
              </ul>

              <div class="tab-content">
                <p class="section-text">
                  But I must explain to you how all this mistaken denouncing
                  pleasure and praising pain was born and I will give you a
                  complete account of the system expoundmaster
                </p>

                <ul class="tab-list">
                  <li class="tab-item">
                    <div class="item-icon">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </div>

                    <p class="tab-text">Charity For Foods</p>
                  </li>

                  <li class="tab-item">
                    <div class="item-icon">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </div>

                    <p class="tab-text">Charity For Education</p>
                  </li>

                  <li class="tab-item">
                    <div class="item-icon">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </div>

                    <p class="tab-text">Charity For Water</p>
                  </li>

                  <li class="tab-item">
                    <div class="item-icon">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </div>

                    <p class="tab-text">Charity For Medical</p>
                  </li>
                </ul>

                <button class="btn btn-secondary">
                  <span>Learn More Us</span>

                  <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                </button>
              </div>
            </div>
          </div>
        </section>
        <!-- 
        - #CTA
      -->

        <section class="section cta">
          <div class="container">
            <div class="cta-content">
              <h2 class="h2 section-title">324+ Trusted Global Partners</h2>

              <button class="btn btn-outline">
                <span>Become a Partner</span>

                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>
            </div>

            <figure class="cta-banner">
              <img
                src="./images/partners-img.jpg"
                width="520"
                height="228"
                loading="lazy"
                alt="Fox"
                class="img-cover"
              />
            </figure>
          </div>
        </section>

        <!-- 
        - #SERVICE
      -->

        <section
          class="section service"
          id="service"
          style="background-image: url('./images/service-map.png')"
        >
          <div class="container">
            <p class="section-subtitle">
              <img
                src="./images/subtitle-img-green.png"
                width="32"
                height="7"
                alt="Wavy line"
              />

              <span>What We Do</span>
            </p>

            <h2 class="h2 section-title">
              We Work Differently to <strong>keep The World Safe</strong>
            </h2>

            <ul class="service-list">
              <li>
                <div class="service-card">
                  <div class="card-icon">
                    <ion-icon name="leaf-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Save Nature</h3>

                  <p class="card-text">
                    Tempor incididunt ut labores dolore magna suspene
                  </p>

                  <a href="#" class="btn-link">
                    <span>Read More</span>

                    <ion-icon
                      name="arrow-forward"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <div class="card-icon">
                    <ion-icon name="earth-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Save Ecology</h3>

                  <p class="card-text">
                    Tempor incididunt ut labores dolore magna suspene
                  </p>

                  <a href="#" class="btn-link">
                    <span>Read More</span>

                    <ion-icon
                      name="arrow-forward"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <div class="card-icon">
                    <ion-icon name="flower-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Tree Plantation</h3>

                  <p class="card-text">
                    Tempor incididunt ut labores dolore magna suspene
                  </p>

                  <a href="#" class="btn-link">
                    <span>Read More</span>

                    <ion-icon
                      name="arrow-forward"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </div>
              </li>

              <li>
                <div class="service-card">
                  <div class="card-icon">
                    <ion-icon name="boat-outline"></ion-icon>
                  </div>

                  <h3 class="h3 card-title">Clear Ocean</h3>

                  <p class="card-text">
                    Tempor incididunt ut labores dolore magna suspene
                  </p>

                  <a href="#" class="btn-link">
                    <span>Read More</span>

                    <ion-icon
                      name="arrow-forward"
                      aria-hidden="true"
                    ></ion-icon>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <!-- OUR TEAM -->

        <section class="section team">
          <h2 class="h2 section-title">
            Meet Our Management Team and <strong>Developers</strong>
          </h2>

          <div class="container">
            <div class="members_container">
              <div class="row">
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>CEO / Project Manager</small>
                </div>
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>Frontend Developer</small>
                </div>
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>Public Relations Officer</small>
                </div>
              </div>
              <div class="row">
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>Backend Developer</small>
                </div>
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>Software Engeneering Lead</small>
                </div>
                <div class="member">
                  <img src="./images/person_1.jpg" alt="" />
                  <div class="name">Jon Doe</div>
                  <small>Designer and Illustrator</small>
                </div>
              </div>
            </div>

            <div class="managers_container">
              <div class="manager_card">
                <img src="./images/person_2.jpg" alt="" />
                <div class="name">Prof. John Doe</div>
                <p>Supervisor</p>
              </div>
              <div class="manager_card">
                <img src="./images/person_5.jpg" alt="" />
                <div class="name">Dr. Sara Smith</div>
                <p>Supervisor</p>
              </div>
            </div>
          </div>
        </section>

        <!-- 
        - #DONATIONS
      -->

        <section class="section donate" id="donate">
          <div class="container">
            <ul class="donate-list">
              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="./images/cause-1.jpg"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <button class="btn btn-secondary">
                      <span>Donation</span>

                      <ion-icon
                        name="heart-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="./images/cause-2.jpg"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <button class="btn btn-secondary">
                      <span>Donation</span>

                      <ion-icon
                        name="heart-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="./images/cause-3.jpg"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <button class="btn btn-secondary">
                      <span>Donation</span>

                      <ion-icon
                        name="heart-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </button>
                  </div>
                </div>
              </li>

              <li>
                <div class="donate-card">
                  <figure class="card-banner">
                    <img
                      src="./images/cause-4.jpg"
                      width="520"
                      height="325"
                      loading="lazy"
                      alt="Elephant"
                      class="img-cover"
                    />
                  </figure>

                  <div class="card-content">
                    <div class="progress-wrapper">
                      <p class="progress-text">
                        <span>Raised</span>

                        <data value="256">$256</data>
                      </p>

                      <data class="progress-value" value="83">83%</data>
                    </div>

                    <div class="progress-box">
                      <div class="progress"></div>
                    </div>

                    <h3 class="h3 card-title">Raise Hand To Save Animals</h3>

                    <div class="card-wrapper">
                      <p class="card-wrapper-text">
                        <span>Goal</span>

                        <data class="green" value="34562">$34562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>Raise</span>

                        <data class="yellow" value="562">$562</data>
                      </p>

                      <p class="card-wrapper-text">
                        <span>To Go</span>

                        <data class="cyan" value="864">$864</data>
                      </p>
                    </div>

                    <button class="btn btn-secondary">
                      <span>Donation</span>

                      <ion-icon
                        name="heart-outline"
                        aria-hidden="true"
                      ></ion-icon>
                    </button>
                  </div>
                </div>
              </li>
            </ul>

            <a href="/donations">
              <button class="btn btn-secondary">
                <span>View All Donations</span>

                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>
            </a>
          </div>
        </section>

        <!-- 
        - #CONTACT
      -->

        <section class="contact" id="contact">
          <div class="contact-content">
            <p class="section-subtitle">
              <img
                src="./images/subtitle-img-green.png"
                width="32"
                height="7"
                alt="Wavy line"
              />

              <span>Contact Us</span>
            </p>
          </div>

          <figure class="testi-banner">
            <img
              src="./images/contact-img.jpg"
              height="846"
              loading="lazy"
              alt="contact-img"
              class="img-cover"
            />
          </figure>
        </section>

        <!-- 
        - #PARTNER
      -->

        <section class="section partner">
          <div class="container">
            <a href="#" class="partner-logo">
              <img
                src="./images/partner-1.png"
                width="157"
                height="55"
                loading="lazy"
                alt="Children Fund"
                class="gray"
              />

              <img
                src="./images/partner-1-active.png"
                width="157"
                height="55"
                loading="lazy"
                alt="Children Fund"
                class="color"
              />
            </a>

            <a href="#" class="partner-logo">
              <img
                src="./images/partner-2.png"
                width="163"
                height="55"
                loading="lazy"
                alt="Non Profit Agency"
                class="gray"
              />

              <img
                src="./images/partner-2-active.png"
                width="163"
                height="55"
                loading="lazy"
                alt="Non Profit Agency"
                class="color"
              />
            </a>

            <a href="#" class="partner-logo">
              <img
                src="./images/partner-3.png"
                width="149"
                height="55"
                loading="lazy"
                alt="Rise Hand Help Us"
                class="gray"
              />

              <img
                src="./images/partner-3-active.png"
                width="149"
                height="55"
                loading="lazy"
                alt="Rise Hand Help Us"
                class="color"
              />
            </a>

            <a href="#" class="partner-logo">
              <img
                src="./images/partner-4.png"
                width="169"
                height="58"
                loading="lazy"
                alt="Helping"
                class="gray"
              />

              <img
                src="./images/partner-4-active.png"
                width="169"
                height="58"
                loading="lazy"
                alt="Helping"
                class="color"
              />
            </a>

            <a href="#" class="partner-logo">
              <img
                src="./images/partner-5.png"
                width="211"
                height="55"
                loading="lazy"
                alt="Poor Fund Organization"
                class="gray"
              />

              <img
                src="./images/partner-5-active.png"
                width="211"
                height="55"
                loading="lazy"
                alt="Poor Fund Organization"
                class="color"
              />
            </a>
          </div>
        </section>
      </article>
    </main>

    <!-- 
    - #FOOTER
  -->

    <footer class="footer">
      <div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>
                We are the Organization which help people in their Bad Times and
                we are so much Proud of it
              </p>
              <ul
                class="ftco-footer-social list-unstyled float-md-left float-lft mt-5"
              >
                <li class="ftco-animate">
                  <a href="https://www.linkedin.com/in/ibtihaj-ali-b44277248/"
                    ><span class="icon-linkedin"></span
                  ></a>
                </li>
                <li class="ftco-animate">
                  <a
                    href="https://www.facebook.com/profile.php?id=100009056647970"
                    ><span class="icon-facebook"></span
                  ></a>
                </li>
                <li class="ftco-animate">
                  <a href="https://www.instagram.com/ibtihaj__ali/?hl=en"
                    ><span class="icon-instagram"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img mr-4"
                  style="background-image: url(./images/image_1.jpg)"
                ></a>
                <div class="text">
                  <h3 class="heading">
                    <a href="#">Giving Foods to Flood Affected People's</a>
                  </h3>
                  <div class="meta">
                    <div>
                      <a href="#"
                        ><span class="icon-calendar"></span>26 July 2010 -
                        August 2010</a
                      >
                    </div>
                    <div>
                      <a href="#"><span class="icon-person"></span> Flood</a>
                    </div>
                    <div>
                      <a href="#"><span class="icon-chat"></span> 3</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a
                  class="blog-img mr-4"
                  style="background-image: url(./images/image_2.jpg)"
                ></a>
                <div class="text">
                  <h3 class="heading">
                    <a href="#"
                      >Giving Clothes People's which are affected by
                      earthquack</a
                    >
                  </h3>
                  <div class="meta">
                    <div>
                      <a href="#"
                        ><span class="icon-calendar"></span> 08 Octuber 2005</a
                      >
                    </div>
                    <div>
                      <a href="#"
                        ><span class="icon-person"></span> earthquack</a
                      >
                    </div>
                    <div>
                      <a href="#"><span class="icon-chat"></span> 2</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Home</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Donate</a></li>
                <li><a href="#" class="py-2 d-block">Causes</a></li>
                <li><a href="#" class="py-2 d-block">Event</a></li>
                <li><a href="#" class="py-2 d-block">Blog</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon icon-map-marker"></span
                    ><span class="text"
                      >Somewhere in Gulistan-e-Johar , Karachi , Sindh ,
                      Pakistan</span
                    >
                  </li>
                  <li>
                    <a href="tel: +92 3208876144"
                      ><span class="icon icon-phone"></span
                      ><span class="text">+92 3208876144</span></a
                    >
                  </li>
                  <li>
                    <a href="mailto: ibtihaj.ali51@gmail.com"
                      ><span class="icon icon-envelope"></span
                      ><span class="text">ibtihaj.ali51@gmail.com</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Ibtihaj Ali</a> -->
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- 
    - custom js link
  -->
    <script src="/js/script.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
